.header-navigation {
    display: flex;
    align-items: center;
}

.circle {
    width: 3.5vw;
    height: 3.5vw;
    margin: 0 0.25vw;
    border-radius: 50%;
    /*background-color: #1d1d1d;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.circle:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #2d2d2d;
}

.header-navigation .circle .arrow{
    color: #fff;
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1200 - 320)));
}
