.search-result {
    width: 100%;
    color: rgb(179,179,179, 0.9);
}

/* # */

.search-result td {
    text-align: left;
    padding: 1.2rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.search-result:hover {
    outline: 1px solid #1ED760;
}
.search-result td:first-child {
    font-size: 1.2rem;
    margin-left: 0;
    color: rgb(255,255,255, 1);
    padding-left: 2rem;
}

