.Join {
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: #0B4721;
    background: radial-gradient(circle farthest-corner at center center, #0B4721 0%, #000000 70%);
  }

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}