.table-header, .table-header #clock-icon {
    color: rgb(179,179,179, 0.9);
}
.table-header {
    width: 100%;
    border-bottom: 1px solid rgb(179,179,179, 0.9);
}
.table-header th {
    text-align: left;
    padding: 1svh 0.75svw;
    font-size: clamp(0.5rem, 0.75vw, 1.5rem);
    font-weight: 500;
}
/* # */
.table-header th:first-child {
    margin-left: 0;
    width: 5%;
}

/* TITLE */
.table-header th:nth-child(2) {
    width: 60%;
}

/* ALBUM */
.table-header th:nth-child(3) {
    width: 50%;
    margin: 0 auto;
}

/* CLOCK-ICON */
.table-header th:last-child {
    padding-right: 2svw;
    margin-right: 0;
}

.table-header th:first-child, .table-header th:last-child {
    font-size: clamp(0.5rem, 1vw, 1.5rem);
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.table-header {
    position: relative;
    overflow: hidden;
}

.table-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #FFFFFF;
    transform: translateX(-100%);
}

.table-header.loading::after {
    animation: loading 2s linear infinite;
}