.artists-container {
    width: 100%;
    height: 100%;
}

.artists-list-container {
    width: 75%;
    margin: auto;
}

.artists-container h1 {
    padding: 5svh;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: calc(10px + (32 - 12) * ((100svw - 320px) / (1200 - 320)));
}